/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* Global Css Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #3a86ff, #ff006e);
    
  }


/* duita form er jonno same kaj korbe eta parent bola jay.  */
  .forms {
    display: flex;
    justify-content: center;
    width: 100%;

  }


  .form {
    max-width: 430px;
    width: 90%;
    padding: 20px;
    border-radius: 6px;
    background: #FFF;
    margin: 20px;
    border-radius: 6px;
    
  }


/* Login and signup duita text er jonno ei header  */

header{
    font-size: 28px;
    font-weight: 700;
    color: #232836;
    text-align: center;
}

form{
    margin-top: 10px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}

.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.fb-google a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%); /* helped from google */
}

img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

/* responsive design */
a.google{
    border: 1px solid #CACACA;
}

a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}


/* all hover check */

.fb-google a:hover {
    transition: all 0.3s ease;
  }
  
  a.facebook:hover {
    background-color: #3b5998; /* Darker blue */
  }
  
  a.google:hover {
    background-color: #333; /* Darker gray */
    border-color: #333;
    color: #fff; /* White text color */
    span {
      opacity: 1;
      color: #fff; /* White text color */
    }
  }



  .field input:hover {
    border: 1px solid #000; /* Black border color */
  }


